<div id="wrapper">
  <div *ngIf="displayedTransfers.length > 0">
    <table mat-table [dataSource]="displayedTransfers" class="transfer-history-table">

      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef scope="col" class="id-column">
          {{ 'transferHistory.id' | translate }}
        </th>
        <td mat-cell *matCellDef="let item" [matTooltip]="item.id | tooltipIfTruncated:36" class="id-column">
          {{ item.id | truncate:36 }}
        </td>
      </ng-container>

      <!-- State Column -->
      <ng-container matColumnDef="state">
        <th mat-header-cell *matHeaderCellDef scope="col">
          {{ 'transferHistory.state' | translate }}
        </th>
        <td mat-cell *matCellDef="let item">
          <span class="state-badge" [ngClass]="item.state?.toLowerCase()">
            {{ item.state | lowercase }}
          </span>
        </td>
      </ng-container>

      <!-- Last Updated Column -->
      <ng-container matColumnDef="lastUpdated">
        <th mat-header-cell *matHeaderCellDef scope="col">
          {{ 'transferHistory.lastUpdated' | translate }}
        </th>
        <td mat-cell *matCellDef="let item">
          <mat-icon class="date-icon">calendar_today</mat-icon>
          {{ item.mandatoryValue('edc', 'stateTimestamp') | date: 'MM/dd/yyyy' }}
        </td>
      </ng-container>

      <!-- ConnectorId Column -->
      <ng-container matColumnDef="connectorId">
        <th mat-header-cell *matHeaderCellDef scope="col">
          {{ 'transferHistory.connectorId' | translate }}
        </th>
        <td mat-cell *matCellDef="let item">
          {{ item.connectorId || '-' }}
        </td>
      </ng-container>

      <!-- AssetId Column -->
      <ng-container matColumnDef="assetId">
        <th mat-header-cell *matHeaderCellDef scope="col">
          {{ 'transferHistory.assetId' | translate }}
        </th>
        <td mat-cell *matCellDef="let item" [matTooltip]="item.assetId | tooltipIfTruncated:36">
          {{ item.assetId | truncate:36 }}
        </td>
      </ng-container>

      <!-- ContractId Column -->
      <ng-container matColumnDef="contractId">
        <th mat-header-cell *matHeaderCellDef scope="col">
          {{ 'transferHistory.contractId' | translate }}
        </th>
        <td mat-cell *matCellDef="let item" [matTooltip]="item.contractId | tooltipIfTruncated:36">
          {{ item.contractId | truncate:36 }}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columns"></tr>
      <tr mat-row *matRowDef="let row; columns: columns;"></tr>
    </table>

    <div class="custom-paginator">
      <button mat-stroked-button color="accent" (click)="loadTransferProcesses()">
        <mat-icon>cached</mat-icon>
        {{ 'transferHistory.refresh' | translate }}
      </button>

      <div class="pagination-left">
        <span class="range-label">{{ pageStart }}–{{ pageEnd }}</span>
        <span class="total-label">
          {{ 'transferHistory.of' | translate }} {{ totalTransfers }} {{ 'transferHistory.elements' | translate }}
        </span>
      </div>

      <div class="page-size-wrapper">
        <span class="page-size-label">{{ 'transferHistory.elementsPerPage' | translate }}</span>
        <select [(ngModel)]="pageSize" (change)="onPageSizeChange($event)" class="page-size-select">
          <option *ngFor="let option of pageSizeOptions" [value]="option">1 - {{ option }}</option>
        </select>
      </div>

      <div class="pagination-right">
        <button mat-icon-button (click)="previousPage()" [disabled]="pageIndex === 0">
          <mat-icon>chevron_left</mat-icon>
        </button>
        <button mat-icon-button (click)="nextPage()" [disabled]="pageIndex >= pageCount - 1">
          <mat-icon>chevron_right</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>
