#home{
    display: flex;
    height: 100%;
    width: 100%;
}
#wrapper {
    margin: 20px 10px 10px 20px;
    width: 35%;

    mat-card{
        padding-left: 24px;
    }
}

.h2{
    font-size: 32px;
    font-weight: bold;
}

#dashboard_wrapper {
    display: grid;
    grid-template-columns: 240px 240px 240px 240px;
    margin: 20px 0 0 20px;
    width: 65%;
    row-gap: 10px;
    column-gap: 10px;

    .transfer_container{
        display: flex;
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row: 1/4;

        .transfer_grid{
            height: 100%;
            width: 50%;

            p{
                margin-left: 30px;
            }

                .transfer_body{
                    display: flex;
                    height: 100%;
                    width: 100%;
                    justify-content: center;
                    align-items: center;
                
                }
        }

        :last-child{
            margin-left: 10px;
        }
    }

    .count_grid{
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

}

h1 {
    margin-top: 20px;
}

.link {
    margin-right: 10px;
}

.description {
    text-align: justify;
    padding-left: 20px;
    padding-right: 20px;
}

mat-card {
    margin-bottom: 20px;
}

a {
    color: var(--theme-color-accent);
    text-decoration: none;
}

#example-use-cases-list {
    list-style-type: none;
    padding-inline-start: 10px;
    li {
        margin-top: 10px;
        &:before {
            margin-right: 10px;
            content: 'check';
            font-family: 'Material Icons';
        }
    }
}
