@import "../../../styles/variables";
@import '../../../styles/mixins';

@mixin menu-item-font() {
  @include calluna-font();
  color: $primary;
  font-size: 12px;
}

.user-profile {
  display: flex;
  align-items: center;
  justify-content: space-between; 
}

.group-logo {
  height: 15px; 
  margin-right: 5px; 
}

.group {
  @include menu-item-font();
  margin-top: 30px;
  margin-bottom: 30px;
  padding-left: 16px;
  padding-right: 2px;
  white-space: nowrap;
  overflow: hidden; 
  text-overflow: ellipsis; 
}

.logout-button {
  margin-top: 30px;
  margin-bottom: 30px;
  padding-right: 16px; 
  margin-left: auto
}

.username {
  font-size: 12px;
  font-weight: normal;
  font-family: unset;
  color: $gray;
}

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 300px;
  border: none;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.sidenav .mat-drawer-inner-container {
  display: flex;
  flex-direction: column;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.toolbar {
  background: white;
  box-shadow: 2px 0 8px 2px rgba(0, 25, 0, 0.1);
}

.sidenav-content {
  box-shadow: inset 2px 0 8px 2px rgba(0, 25, 0, 0.1);
  background-color: #f0f0f0;

  border-color: #d2d2d2;
  border-left-width: 1px;
  border-top-width: 1px;

  display: flex;
  flex-direction: column;

  > :first-child {
    height: 0;
  }

  > * {
    height: 100%;
  }
}

.logo-container .logo {
  height: 40px;
  margin: 15px 5px 5px;
}

.links {
  .mat-line {
    font-weight: bold;
  }

  .router-link-active {
    mat-list-item {
      color: $accent;

      mat-icon {
        color: $accent;
      }
    }
  }
}

.company-logo {
  padding: 25px 0 0 25px;
}