:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.top-toolbar {
  position: sticky;
  top: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  padding: 0 24px;
  background-color: white !important;
  color: white !important;
  border-bottom: 1px solid #ddd;
}

.toolbar-spacer {
  flex: 1 1 auto;
}

.user-button {
  font-size: 14px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.87);
  text-transform: none;

  mat-icon {
    font-size: 18px;
    vertical-align: middle;
    margin-left: 4px;
  }
}

.user-button .mat-icon {
  order: 1; /* Ensure icon is placed after the text */
  margin-left: 4px; /* Space between text and icon */
  margin-right: 0;
}

.mat-list-item-custom {
  padding-left: 20px;
}

.nav-label {
  font-size: 16px;
  font-weight: 400;
}

/* Shrink icon and reduce margin between icon and text */
mat-sidenav a[mat-list-item] mat-icon {
  height: 16px;
  width: 16px;
  margin-right: 16px;
  margin-left: 0 !important;
}

.nav-group-title-provide {
  font-size: 24px; // slightly larger
  font-weight: normal; // not bold
  text-transform: none; // no uppercase
  color: #444;
  padding: 12px 20px 2px;
  margin-top: 60px; // less spacing
}

.nav-group-title-consume {
  font-size: 24px; // slightly larger
  font-weight: normal; // not bold
  text-transform: none; // no uppercase
  color: #444;
  padding: 2px 16px 4px;
}

.page-title {
  font-size: 18px;
  font-weight: bold;
  color: var(--primary-color);
}

/* Layout area */
.sidenav-container {
  flex: 1;
  height: calc(100% - 64px); // 64px is the toolbar height
  background: transparent !important;
}

.sidenav {
  width: 300px;
}

.layout-wrapper {
  position: relative;
  z-index: 1;
}
