<mat-nav-list>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>Provide</mat-panel-title>
    </mat-expansion-panel-header>

    <a mat-list-item routerLink="/my-assets">
      <mat-icon>upload</mat-icon>
      <span>Assets</span>
    </a>

    <a mat-list-item routerLink="/policies">
      <mat-icon>policy</mat-icon>
      <span>Policies</span>
    </a>

    <a mat-list-item routerLink="/contract-definitions">
      <mat-icon>rule</mat-icon>
      <span>Offers</span>
    </a>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>Consume</mat-panel-title>
    </mat-expansion-panel-header>

    <a mat-list-item routerLink="/catalog-browser">
      <mat-icon>sim_card</mat-icon>
      <span>Browse catalog</span>
    </a>

    <a mat-list-item routerLink="/contracts">
      <mat-icon>attachment</mat-icon>
      <span>Contracts</span>
    </a>

    <a mat-list-item routerLink="/transfer-history">
      <mat-icon>assignment</mat-icon>
      <span>Transfers</span>
    </a>
  </mat-expansion-panel>
</mat-nav-list>
