<h2 class="dialog-title">{{ 'policyDetails.title' | translate }}</h2>

<mat-card class="json-card">
  <pre>{{ displayedJson | json }}</pre>
</mat-card>

<div class="toggle-row">
  <mat-checkbox [(ngModel)]="cleaned">Cleaned JSON</mat-checkbox>
</div>

<mat-dialog-actions align="end">
  <button mat-stroked-button class="cancel-button" mat-dialog-close>
    {{ 'policyDetails.close' | translate }}
  </button>
  <button mat-flat-button class="delete-button" (click)="delete()">
    {{ 'policyDetails.delete' | translate }}
  </button>
</mat-dialog-actions>

