<div *ngIf="filteredContractDefinitions$ | async as contractDefinitions" class="card-element-wrapper">
  <div class="search-bar-container">
    <div class="search-left">
      <div class="search-wrapper">
        <input
          class="search-input"
          type="text"
          placeholder="Search Data Offers"
          [(ngModel)]="searchText"
          (input)="onSearch()"
        />
        <button class="clear-btn-searchbar" (click)="searchText=''; onSearch()">
          <span class="material-icons">close</span>
        </button>
      </div>
    </div>

    <button (click)="onCreate()" mat-raised-button class="create-button">
      <mat-icon>add</mat-icon>
      Create Data Offer
    </button>
  </div>

  <div class="card-element-grid">
    <mat-card *ngFor="let contractDefinition of contractDefinitions" class="card-element">
      <mat-card-header>
        <div mat-card-avatar class="card-icon">
          <mat-icon svgIcon="dataOffer:title"></mat-icon>
        </div>
        <mat-card-title>
        <span [matTooltip]="contractDefinition.id" >
          {{ contractDefinition.id | truncate: 32 }}
        </span>
        </mat-card-title>
        <mat-card-subtitle>Data Offer</mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>
        <div class="contract-detail-row">
          <div class="contract-detail">
            <div class="detail-label">ACCESS POLICY</div>
            <div class="detail-value">{{ contractDefinition.accessPolicyId }}</div>
          </div>

          <div class="contract-detail">
            <div class="detail-label">USAGE POLICY</div>
            <div class="detail-value">{{ contractDefinition.contractPolicyId }}</div>
          </div>

          <div class="contract-detail">
            <div class="detail-label">ASSET NAME</div>
            <div class="detail-value">
              {{ contractDefinition.assetsSelector[0].mandatoryValue('edc', 'operandRight') || 'TO BE DEFINED' }}
            </div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>

</div>
