<div id="wrapper">
  <div class="confirmation-card" style="margin-top:2%">
    <h1>Data pack collected.</h1>
    <br/>
    <div>
      <p class="description">
        “Volkswagen GIS AG- Local Hazard Information” was added to your connector. You can have access to all of your collected data packs in your connector.       
      </p>
      <br/>
      <p style="color:yellow;font-size:16px;font-weight:600;">
        Details
      </p>
      <br/>
      <section>
        <p>
          Id: {{contractOffers[0].id}}
        </p>
        <p>
          Consumer: {{contractOffers[0].consumer}}
        </p>
      </section>
      <section style="margin-left:30%;position:relative;margin-top:-5.5%">
        <p>
          Provider: {{contractOffers[0].provider}}
        </p>
        <p>
          Collection Date: {{contractOffers[0].contractStart}}
        </p>
      </section>
      <a class="blackbutton-confirmation" color="secondary"
        mat-stroked-button
        target="_blank">
        To your Connector
      </a>
      <a class="yellowbutton-confirmation" color="secondary"
        mat-stroked-button
        target="_blank">
        Back to data catalog
      </a>
    </div>
  </div>
</div>
