<div id="wrapper">
  <div class="confirmation-card" style="margin-top:2%">
    <h1>Data pack collected.</h1>
    <br/>
    <div>
        <p class="description">
            “Volkswagen GIS AG- Local Hazard Information” was added to your connector. You can have access to all of your collected data packs in your connector.       
        </p>
        <br/>
        <p style="color:yellow;font-size:16px;font-weight:600;">
            Details
        </p>
        <br/>
        <section>
          <p>
            Id: 1:a555325b-eada-4bb9-b6ce-8b7e85b2e396
          </p>
          <p>
            File Size: 52.28 KB
          </p>
        </section>
        <section style="margin-left:30%;position:relative;margin-top:-5.5%">
          <p>
            Provider: Log in to view 
          </p>
          <p>
            Collection Date: 2023-10-27
          </p>
        </section>
        <a class="blackbutton-confirmation" color="secondary"
           mat-stroked-button
           target="_blank">
           To your Connector
        </a>
        <a class="yellowbutton-confirmation" color="secondary"
           mat-stroked-button
           target="_blank">
           Back to data catalog
        </a>
    </div>
  </div>
</div>
