.asset-property-name {
  font-weight: bold !important;
}

.footer {
  margin-top: 15px;
  padding-bottom: 25px;
  height: fit-content;

  .footer-button {
    width: 200px;
  }
}

.header {
  h1 {
    margin: 0;
  }

  margin-bottom: 15px;
}

.divider {
  margin-bottom: 20px;
}
