<div fxLayout="column" style="height: 100%">
  <div fxLayout="row" fxLayoutAlign="space-between center" class="header">
    <h1>{{contractOffer.asset.name}}</h1>
    <button mat-icon-button (click)="this.dialog.close()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div fxLayout="column">
    <h2>Asset Details</h2>
  </div>
  <mat-list dense class="catalogue-meta-data-list" fxLayout="row wrap">
    <mat-list-item>
      <mat-icon mat-list-icon>fingerprint</mat-icon>
      <div class="asset-property-name" mat-line>Id</div>
      <div mat-line>{{contractOffer.asset.id}}</div>
    </mat-list-item>
    <mat-list-item>
      <mat-icon mat-list-icon>description</mat-icon>
      <div class="asset-property-name" mat-line>Beschreibung</div>
      <div mat-line>{{contractOffer.asset.description}}</div>
    </mat-list-item>
    <mat-list-item>
      <mat-icon mat-list-icon>numbers</mat-icon>
      <div class="asset-property-name" mat-line>Version</div>
      <div mat-line>{{contractOffer.asset.version}}</div>
    </mat-list-item>
    <mat-list-item *ngIf="contractOffer.asset.contentType">
      <mat-icon mat-list-icon>content_paste</mat-icon>
      <div class="asset-property-name" mat-line>Content-Type</div>
      <div mat-line>{{contractOffer.asset.contentType}}</div>
    </mat-list-item>

    <mat-list-item *ngIf="contractOffer.asset.originator">
      <mat-icon mat-list-icon>link</mat-icon>
      <div class="asset-property-name" mat-line>Originator</div>
      <div mat-line>{{contractOffer.asset.originator}}</div>
    </mat-list-item>

    <mat-list-item>
      <mat-icon mat-list-icon>storage</mat-icon>
      <div class="asset-property-name" mat-line>Byte Größe</div>
      <div mat-line>{{contractOffer.asset.properties?.byteSize ?? '- -'}}</div>
    </mat-list-item>
    <mat-list-item>
      <mat-icon mat-list-icon>drive_file_rename_outline</mat-icon>
      <div class="asset-property-name" mat-line>Dateiname</div>
      <div mat-line>{{contractOffer.asset.properties.fileName ?? '- -'}}</div>
    </mat-list-item>
    <mat-list-item>
      <mat-icon mat-list-icon>date_range</mat-icon>
      <div class="asset-property-name" mat-line>Zeitraum</div>
      <div mat-line>{{contractOffer.asset.properties.temporal ?? '- -'}}</div>
    </mat-list-item>
    <mat-list-item>
      <mat-icon mat-list-icon>category</mat-icon>
      <div class="asset-property-name" mat-line>Agrovoc Kontext</div>
      <div mat-line *ngFor="let theme of contractOffer.asset.properties.theme">{{theme}}</div>
      <div mat-line *ngIf="contractOffer.asset.properties.theme?.length === 0">- -</div>
    </mat-list-item>
    <mat-list-item>
      <mat-icon mat-list-icon>location_on</mat-icon>
      <div class="asset-property-name" mat-line>Ort</div>
      <div mat-line>{{contractOffer.asset.properties?.spatial ?? '- -'}}</div>
    </mat-list-item>
  </mat-list>
  <mat-divider class="divider"></mat-divider>
  <div fxLayout="column">
    <h2>Policy Details</h2>
  </div>

  <mat-list dense class="catalogue-meta-data-list" fxLayout="row wrap">
    <mat-list-item>
      <mat-icon mat-list-icon>policy</mat-icon>
      <div mat-line class="asset-property-name">Policy ID</div>
      <div mat-line>{{contractOffer.asset.policyId}}</div>
    </mat-list-item>
    <mat-list-item>
      <mat-icon mat-list-icon>ads_click</mat-icon>
      <div class="asset-property-name" mat-line>Target</div>
      <div mat-line>{{contractOffer.policy.target ?? '- -'}}</div>
    </mat-list-item>
    <mat-list-item>
      <mat-icon mat-list-icon>handshake</mat-icon>
      <div class="asset-property-name" mat-line>Verpflichtungen</div>
      <div mat-line *ngFor="let obligation of contractOffer.policy.obligations!">{{obligation.action?.type}} {{obligation.target}}</div>
      <div mat-line *ngIf="contractOffer.policy.obligations?.length === 0">- -</div>
    </mat-list-item>
    <mat-list-item>
      <mat-icon mat-list-icon>approval</mat-icon>
      <div class="asset-property-name" mat-line>Permissions</div>
      <div mat-line *ngFor="let permission of contractOffer.policy!.permissions!">{{permission?.action?.type}} {{permission.target}}</div>
    </mat-list-item>
  </mat-list>

  <div class="footer" fxLayout="column">
    <div fxFlex fxLayoutAlign="end">
      <button (click)="onNegotiateClicked(contractOffer)"
              *ngIf="!runningNegotiation"
              [disabled]="!contractOffer.asset.isAsync || isBusy(contractOffer) || isNegotiated(contractOffer)"
              color="primary" mat-raised-button
              class="footer-button"
      >
        Kaufen
      </button>
      <mat-progress-bar mode="indeterminate" *ngIf="runningNegotiation" [ngStyle]="runningNegotiation?{'color':'white'} : {}"></mat-progress-bar>
    </div>

  </div>

</div>

