.asset-property-name {
  font-weight: bold !important;
}

.footer {
  margin-top: 15px;
  height: 120px;
}

.list {
  mat-list-item {
    width: 300px;


  }
}

.header {
  h1 {
    margin: 0;
  }

  margin-bottom: 15px;
}

.divider {
  margin-bottom: 20px;
}
