<div class="card grow bg-base-300 relative">
  <div class="card-body">
    <div class="card-title mb-3">
      <span class="material-symbols-rounded text-3xl">contract_edit</span>
      <span class="truncate text-wrap">{{ contractDefinition.id }}</span>
    </div>

    <div class="ml-3 mb-3 grid grid-cols-[minmax(0,auto)_minmax(0,min-content)] gap-4">
      <div class="flex items-center">
        <span class="material-symbols-rounded mr-1">policy</span>
        <b><i>Access Policy</i></b>
      </div>
      <span class="truncate">{{ contractDefinition.accessPolicyId }}</span>
      <div class="flex items-center">
        <span class="material-symbols-rounded mr-1">policy</span>
        <b><i>Contract Policy</i></b>
      </div>
      <span class="truncate">{{ contractDefinition.contractPolicyId }}</span>
      @if (contractDefinition.assetsSelector.length !== 0) {
        <details class="collapse collapse-arrow col-span-2">
          <summary class="collapse-title p-0 min-h-8 after:top-[0.75rem!important]">
            <div class="flex items-center">
              <span class="material-symbols-rounded mr-1">rule</span>
              <b><i>Asset Selection</i></b>
            </div>
          </summary>
          <div *ngFor="let assetPolicy of contractDefinition.assetsSelector" class="flex items-center py-1">
            <span class="material-symbols-rounded mr-2">check</span>
            <span class="truncate"
              >{{ assetPolicy.operandLeft }} {{ assetPolicy.operator }} {{ assetPolicy.operandRight }}</span
            >
          </div>
        </details>
      } @else {
        <div class="flex items-center">
          <span class="material-symbols-rounded mr-1">rule</span>
          <b><i>Asset Selection</i></b>
        </div>
        <span class="truncate text-warning">All assets</span>
      }
    </div>

    <div *ngIf="showButtons" class="card-actions justify-end mt-auto">
      <div class="tooltip no-animation" data-tip="Details">
        <button
          class="btn btn-soft btn-primary btn-circle btn-sm no-animation"
          (click)="openDetailsEvent.emit(contractDefinition)"
        >
          <i class="material-symbols-rounded">info</i>
        </button>
      </div>
      <div class="tooltip no-animation" data-tip="Edit">
        <button
          class="btn btn-soft btn-warning btn-circle btn-sm no-animation"
          (click)="editContractDefinitionEvent.emit(contractDefinition)"
        >
          <i class="material-symbols-rounded">edit</i>
        </button>
      </div>
      <div class="tooltip no-animation" data-tip="Delete">
        <button
          class="btn btn-soft btn-error btn-circle btn-sm"
          (click)="deleteContractDefinitionEvent.emit(contractDefinition)"
        >
          <i class="material-symbols-rounded">delete</i>
        </button>
      </div>
    </div>
  </div>
</div>
