.asset-card {
  width: 420px;
  margin-right: 15px;
  margin-bottom: 15px;
  padding:0;
  border-radius: 5px;

  mat-card-header {
    color:white;
    background: #2b5334;
    border-radius: 10px 10px 0 0;
  }

  mat-divider{
    padding: 0 0 15px 0;
  }
}

mat-card>* {
  padding: 0 20px;
}

mat-card>:first-child{
  padding-top: 20px;
}

mat-card>:last-child{
  padding-bottom: 20px;
}

.main-property-icon {
  font-size: 12px;
}

:host ::ng-deep div.mat-expansion-panel-body {
  padding-left: 0 !important;
}

.search-form-field {
  min-width: 200px;
  width: 30%;
}

.card-actions {
  margin-left: 0;
  display: flex;
  justify-content: flex-end;
}

.asset-property-name {
  font-weight: bold !important;
}

mat-paginator {
  display: inline-block;
  background-color: transparent;
}
