<div *ngIf="filteredAssets$ | async as assets" class="assets-wrapper">
  <div class="search-bar-container">
    <div class="search-left">
      <div class="search-wrapper">
        <input
          class="search-input"
          type="text"
          placeholder="Search Assets"
          [(ngModel)]="searchText"
          (input)="onSearch()"
        />
        <button class="clear-btn" (click)="searchText=''; onSearch()">
          <span class="material-icons">close</span>
        </button>
      </div>

      <button class="search-button" (click)="onSearch()">
        <span class="material-icons">search</span>
      </button>
    </div>

    <button (click)="onCreate()" mat-raised-button class="create-button">
      <mat-icon>add</mat-icon>
      Create Asset
    </button>
  </div>

  <div class="asset-grid">
    <mat-card *ngFor="let asset of assets" class="asset-card">
      <mat-card-header>
        <div mat-card-avatar class="asset-icon">
          <mat-icon>insert_drive_file</mat-icon>
        </div>
        <mat-card-title>{{ asset.properties.optionalValue('edc', 'name') }}</mat-card-title>
        <mat-card-subtitle>{{ asset.id }}</mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>
        {{ asset.properties.optionalValue('edc', 'description') }}
      </mat-card-content>

      <mat-progress-bar *ngIf="isBusy()" color="accent" mode="indeterminate"></mat-progress-bar>
    </mat-card>
  </div>

</div>
