<mat-dialog-content *ngIf="storageTypes as storageTypes">

  <mat-form-field class="form-field" color="accent" id="form-field-destination">
    <mat-label>Zielspeicher</mat-label>
    <mat-select [(ngModel)]="storageType" (valueChange)="changed($event)">
      <mat-option *ngFor="let storageType of storageTypes" [value]="storageType">
        {{storageType.label}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <form [formGroup]="form">
    <mat-form-field *ngFor="let textField of this.storageType?.additionalTextFields">
      <mat-label>{{textField.label}}</mat-label>
      <input matInput [formControlName]="textField.id">
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <button (click)="onTransfer()" color="primary" mat-raised-button [disabled]="this.form.invalid">
    <mat-icon>downloading</mat-icon>
    Transfer Starten
  </button>

  <button color="accent" mat-dialog-close mat-stroked-button>
    <mat-icon>cancel</mat-icon>
    Abbrechen
  </button>
</mat-dialog-actions>
