<div id="wrapper" *ngIf="filteredContractDefinitions$ | async as contractDefinitions">
    <div>
        <mat-form-field appearance="fill" class="search-form-field" appearance="outline" color="accent">
            <mat-label>Search policies</mat-label>
            <input matInput (input)="onSearch()" [(ngModel)]="searchText">
            <mat-icon matPrefix>search</mat-icon>
            <button *ngIf="searchText" matSuffix mat-icon-button (click)="searchText=''; onSearch()">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>

        <mat-paginator [length]="contractDefinitions.length" pageSize="contractDefinitions.length" hidePageSize="true">
        </mat-paginator>

        <button mat-stroked-button color="accent" (click)="onCreate()" id="create-button">
            <mat-icon>add_circle_outline</mat-icon> Create policy
        </button>
        
    </div>

    <div fxLayout="row wrap" fxLayoutAlign="start start">

        <mat-card *ngFor="let contractDefinition of contractDefinitions" class="contract-definition-card">
            <mat-card-header>
                <mat-icon mat-card-avatar>policy</mat-icon>
                <mat-card-title>{{contractDefinition.id}}</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <mat-list dense>
                    <mat-list-item>
                        <mat-icon mat-list-icon>policy</mat-icon>
                        <div mat-line class="policy-name">Access policy</div>
                        <div mat-line>{{contractDefinition.accessPolicy?.uid}}</div>
                    </mat-list-item>
                    <mat-list-item>
                        <mat-icon mat-list-icon>policy</mat-icon>
                        <div mat-line class="policy-name">Contract policy</div>
                        <div mat-line>{{contractDefinition.contractPolicy?.uid}}</div>
                    </mat-list-item>
                </mat-list>

                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Selectors
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <mat-list dense>
                        <mat-list-item *ngFor="let criterion of contractDefinition.selectorExpression?.criteria">
                            <mat-icon mat-list-icon>check</mat-icon>
                            <div mat-line>{{criterion.left}} {{criterion.op}} {{criterion.right}}</div>
                        </mat-list-item>
                        <!-- <mat-list-item *ngIf="asset.contentType">
                            <mat-icon mat-list-icon>content_paste</mat-icon>
                            <div mat-line class="asset-property-name">Content-Type</div>
                            <div mat-line>{{asset.contentType}}</div>
                        </mat-list-item>
                        <mat-list-item *ngFor="let additionalPropertyKey of asset.additionalPropertyKeys">
                            <mat-icon mat-list-icon>list</mat-icon>
                            <div mat-line *ngIf="additionalPropertyKey.replace('asset:prop:', '') as name"
                                class="asset-property-name">
                                {{name.charAt(0).toUpperCase() + name.slice(1)}}
                            </div>
                            <div mat-line title="{{asset.properties[additionalPropertyKey]}}">
                                {{asset.properties[additionalPropertyKey]}}</div>
                        </mat-list-item> -->
                    </mat-list>
                </mat-expansion-panel>

            </mat-card-content>

            <mat-divider inset></mat-divider>
            <mat-card-actions class="card-actions">
                <button mat-stroked-button color="accent" (click)="onEdit(contractDefinition)" [disabled]="isBusy(contractDefinition.id)">
                    <mat-icon>edit_note</mat-icon> Edit
                </button>
                <button mat-stroked-button color="accent" disabled="true">
                    <mat-icon>delete_sweep</mat-icon> Delete
                </button>
            </mat-card-actions>
            <mat-card-footer>
                <mat-progress-bar mode="indeterminate" color="accent" *ngIf="isBusy(contractDefinition.id)"></mat-progress-bar>
            </mat-card-footer>
        </mat-card>
    </div>
</div>