#wrapper {
    margin: 20px;
}

.form-field {
    margin-right: 10px;
}

.form-field-small {
    width: 300px;
}

.form-field-large {
    width: 610px;
}

#form-field-id {
    width: 450px;
}

#form-field-version {
    width: 150px;
}

#form-field-destination {
    width: 200px;
}

#form-field-address {
    width: 400px;
}
