#wrapper {
  margin: 20px;
}

:host ::ng-deep div.mat-expansion-panel-body {
  padding-left: 0 !important;
}

.policy-card {
  margin-top: 10px;
  width: 50%;
}

mat-paginator {
  display: inline-block;
  background-color: transparent;
}

.search-form-field {
  min-width: 200px;
  width: 30%;
  margin-top: 18px;
}

.container {
  display: flex;
  align-items: center;
  gap: 10px;
}
