<div class="details-wrapper">
  <div class="details-header">
    <div class="icon-circle">
      <mat-icon>upload</mat-icon>
    </div>
    <div class="title-block">
      <h2 class="asset-name">{{ getNestedProp(this.keyMap.name) }}</h2>
      <span class="asset-id">{{ data.asset.id }}</span>
    </div>
  </div>

  <p class="asset-description">{{ getNestedProp(this.keyMap.description) }}</p>

  <div class="details-grid">
    <div class="detail-item">
      <mat-icon class="detail-icon">upload</mat-icon>
      <div>
        <div class="detail-label">ONTOLOGY TYPE</div>
        <div class="detail-value">{{ getNestedProp(this.keyMap.ontologyType) }}</div>
      </div>
    </div>

    <div class="detail-item">
      <mat-icon class="detail-icon">upload</mat-icon>
      <div>
        <div class="detail-label">DATASOURCE TYPE</div>
        <div class="detail-value">{{ mapDatasourceType(getDataAddressProp(this.keyMap.datasourceType)) }}</div>
      </div>
    </div>

    <div class="detail-item">
      <mat-icon class="detail-icon">upload</mat-icon>
      <div>
        <div class="detail-label">CONTENT TYPE</div>
        <div class="detail-value">{{ getNestedProp(this.keyMap.mediaType) }}</div>
      </div>
    </div>

    <div class="detail-item">
      <mat-icon class="detail-icon">upload</mat-icon>
      <div>
        <div class="detail-label">KEYWORDS</div>
        <div class="detail-value">
          {{ formatKeywords(getNestedProp(this.keyMap.keywords)) }}
        </div>

      </div>
    </div>

    <div class="detail-item">
      <mat-icon class="detail-icon">upload</mat-icon>
      <div>
        <div class="detail-label">QUALITY NOTE</div>
        <div class="detail-value">{{ getNestedProp(this.keyMap.qualityNote) }}</div>
      </div>
    </div>

    <div class="detail-item">
      <mat-icon class="detail-icon">upload</mat-icon>
      <div>
        <div class="detail-label">LANGUAGE</div>
        <div class="detail-value">{{ getNestedProp(this.keyMap.language) }}</div>
      </div>
    </div>
  </div>
</div>

<mat-dialog-actions align="end">
  <button mat-stroked-button class="cancel-button" mat-dialog-close>
    Cancel
  </button>

  <button
    mat-flat-button
    class="delete-button"
    (click)="delete()"
  >
    Delete
  </button>
</mat-dialog-actions>
