@import 'modules/styles/theme';
@import 'modules/styles/mixins';

html, body {
  height: 100%;
}

body {
  margin: 0;
}

.snackbar-info-style {
  background-color: orange;
  color: black;
}

.snackbar-error-style {
  background-color: crimson;
  color: black;
}

.code {
  font-family: monospace;
  font-size: larger;
}

.headline {
  @include calluna-font();
  color: $primary;
  font-size: 36px !important;
  font-weight: bold !important;

  padding-bottom: 15px;
}

.content {
  background-color: white;

  flex-grow: 100;
  height: calc(100% - 76px - 60px - 60px);
  margin: 30px;
  padding: 30px;
  border-radius: 6px;
}
