@import './theme.scss';

html, body {
    height: 100%;
}

body {
  margin: 0;
}

.snackbar-info-style {
  background-color: orange;
  color: black;
}

.snackbar-error-style {
  background-color: crimson;
  color: black;
}

.code{
  font-family: monospace;
  font-size: larger;
}

mat-icon {
  color: var(--primary-color);
}

body.theme-1 .logo {
  content: url('/assets/Segittur_logo.svg');
  height: 60px;
  margin-right: 120px;
}
