@use '@angular/material' as mat;

@import 'https://fonts.googleapis.com/icon?family=Material+Icons';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


@import "node_modules/@angular/material/theming";
@include mat-core();

$theming-material-components-primary: mat-palette($mat-teal);
$theming-material-components-accent: mat-palette($mat-orange, A200, A100, A400);
$theming-material-components-warn: mat-palette($mat-red);
$theming-material-components-typography: mat.define-typography-config($font-family: 'Open Sans');

$theme1: mat.define-light-theme((
  color: (
    primary: mat.define-palette(mat.$teal-palette),
    accent: mat.define-palette(mat.$orange-palette, A200, A100, A400),
    warn: mat.define-palette(mat.$red-palette),
  ),
  typography: $theming-material-components-typography,
  density: 0,
));

$theme2: mat.define-dark-theme((
  color: (
    primary: mat.define-palette(mat.$light-blue-palette),
    accent: mat.define-palette(mat.$orange-palette, A200, A100, A400),
    warn: mat.define-palette(mat.$red-palette),
  ),
  typography: $theming-material-components-typography,
  density: 0,
));

$theme3: mat.define-dark-theme((
  color: (
    primary: mat.define-palette(mat.$light-green-palette),
    accent: mat.define-palette(mat.$orange-palette, A200, A100, A400),
    warn: mat.define-palette(mat.$red-palette),
  ),
  typography: $theming-material-components-typography,
  density: 0,
));

/* Default (light) theme */
@include mat.all-component-themes($theme1);

.theme-1 {
  // default light theme
}

.theme-2 {
  @include mat.all-component-colors($theme2);
}

.theme-3 {
  @include mat.all-component-colors($theme3);
}

.mat-form-field-appearance-outline .mat-form-field-outline {
  border-radius: 8px;
}
