@use '@angular/material' as mat;

@import 'https://fonts.googleapis.com/icon?family=Material+Icons';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


@import "~@angular/material/theming";
@include mat-core();

//default theme {
$theming-material-components-primary: mat-palette($mat-teal);
$theming-material-components-accent: mat-palette($mat-orange, A200, A100, A400);
$theming-material-components-warn: mat-palette($mat-red);

$theming-material-components-theme: mat-dark-theme(
    $theming-material-components-primary,
    $theming-material-components-accent,
    $theming-material-components-warn
);

@include angular-material-theme($theming-material-components-theme);
//}

.theme-1 {
  // use default
}

.theme-2 {
  $theming-material-components-primary: mat-palette($mat-light-blue);
  $theming-material-components-accent: mat-palette($mat-orange, A200, A100, A400);
  $theming-material-components-warn: mat-palette($mat-red);

  $theming-material-components-theme: mat-dark-theme(
      $theming-material-components-primary,
      $theming-material-components-accent,
      $theming-material-components-warn
  );

  @include angular-material-theme($theming-material-components-theme);
}

.theme-3 {
  $theming-material-components-primary: mat-palette($mat-light-green);
  $theming-material-components-accent: mat-palette($mat-orange, A200, A100, A400);
  $theming-material-components-warn: mat-palette($mat-red);

  $theming-material-components-theme: mat-dark-theme(
      $theming-material-components-primary,
      $theming-material-components-accent,
      $theming-material-components-warn
  );

  @include angular-material-theme($theming-material-components-theme);
}

$custom-typography: mat.define-typography-config($font-family: 'Montserrat');
@include mat.core($custom-typography);


.mat-sidenav-container{
  background: var(--bk, linear-gradient(225deg, #101010 0%, #232425 100%)) !important;
  border: none;
}

// truzzt design

.theme-2 .mat-drawer {
  background: none;
  border: none;
}

.theme-2 .mat-toolbar.mat-primary {
  background: var(--bk, linear-gradient(225deg, #101010 0%, #232425 100%)) !important;
  display: none;
}

.theme-2 .mat-card{  
  background: var(--grad-gray-1, linear-gradient(224deg, #232323 0%, #1A1A1A 100%)) !important;
}

.blackbutton {
  display: flex !important;
  width: 210px !important;
  height: 35px !important;
  padding: 8px 48px !important;
  justify-content: center !important;
  align-items: center !important;
  gap: 10px !important;
  border-radius: 50px !important;
  border: 1px solid var(--yello, #F3AF0E) !important;
  margin-top: -70px !important;
  margin-bottom: 24px !important;
  margin-left: 1100px !important;
}

.yellowbutton {
  display: flex !important;
  width: 210px !important;
  height: 35px !important;
  padding: 8px 48px !important;
  justify-content: center !important;
  align-items: center !important;
  gap: 10px !important;
  border-radius: 50px !important;
  background: var(--yello, #F3AF0E) !important;
  margin-left: 1100px !important;
}

.whitebutton1 {
  display: flex !important;
  width: 116px !important;
  height: 34px !important;
  padding: 8px 48px !important;
  justify-content: center !important;
  align-items: center !important;
  gap: 10px !important;
  border-radius: 20px !important;
  border: 1px solid var(--white, #FFF) !important;
  margin-left: 1100px !important;
  margin-top: 70px !important;
}

.whitebutton2 {
  display: flex !important;
  width: 150px !important;
  height: 34px !important;
  padding: 8px 48px !important;
  justify-content: center !important;
  align-items: center !important;
  gap: 10px !important;
  border-radius: 20px !important;
  border: 1px solid var(--white, #FFF) !important;
  margin-left: 1230px !important;
  margin-top: -34px !important;
}

.list {
  margin-left: 700px;
}

.cards {
  display: flex !important;
  width: 34px !important;
  height: 34px !important;
  justify-content: center !important;
  align-items: center !important;
  gap: 10px !important;
  border-radius: 20px !important;
  fill: var(--yello, #F3AF0E);
  margin-left: 790px !important;
  margin-top: -35px !important;
}

.card-list {
  margin-right: 200px !important;
  border-radius: 16px !important;
}

.select {
  display: flex !important;
  width: 240px !important;
  height: 24px !important; 
  padding: 8px 24px !important;
  justify-content: space-between !important;
  align-items: center !important;
  border-radius: 50px !important;
  border: 1px solid var(--white, #FFF) !important;
  background: black !important;
  box-shadow: -4px 4px 8px 0px rgba(0, 0, 0, 0.20) !important;
  margin-left: 890px !important;
  margin-top: -30px !important;
  color: white;
  cursor: pointer;
}

.select2 {
  display: flex !important;
  width: 240px !important;
  height: 24px !important; 
  padding: 8px 24px !important;
  justify-content: space-between !important;
  align-items: center !important;
  border-radius: 50px !important;
  border: 1px solid var(--white, #FFF) !important;
  background: transparent !important;
  background-color: black !important;
  box-shadow: -4px 4px 8px 0px rgba(0, 0, 0, 0.20) !important;
  margin-left: 1140px !important;
  margin-top: -24px !important;
  color: white;
  cursor: pointer;
}
