@use '@angular/material' as mat;

@import 'https://fonts.googleapis.com/icon?family=Material+Icons';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


@import "node_modules/@angular/material/theming";
@include mat-core();

$magenta-palette: mat.define-palette((
  50: #fce4ec,
  100: #f8bbd0,
  200: #f48fb1,
  300: #f06292,
  400: #ec407a,
  500: #e91e63,
  600: #d81b60,
  700: #c2185b,
  800: #ad1457,
  900: #880e4f,
  A100: #ff80ab,
  A200: #ff4081,
  A400: #f50057,
  A700: #c51162,
  contrast: (
    50: black,
    100: black,
    200: black,
    300: black,
    400: black,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: black,
    A200: white,
    A400: white,
    A700: white,
  )
));

$theming-material-components-primary: $magenta-palette;
$theming-material-components-accent: $magenta-palette;
$theming-material-components-warn: mat-palette($mat-red);
$theming-material-components-typography: mat.define-typography-config($font-family: 'Open Sans');

$theme1: mat.define-light-theme((
  color: (
    primary: $magenta-palette,
    accent: $magenta-palette,
    warn: mat.define-palette(mat.$red-palette),
  ),
  typography: $theming-material-components-typography,
  density: 0,
));


/* Default (light) theme */
@include mat.all-component-themes($theme1);

.theme-1 {
  // default light theme
}

.theme-2 {
  @include mat.all-component-colors($theme1);
}

.mat-form-field-appearance-outline .mat-form-field-outline {
  border-radius: 8px;
}

:root {
  --primary-color: #{mat.get-color-from-palette($magenta-palette, 500)};
  --primary-color-contrast: #{mat.get-contrast-color-from-palette($magenta-palette, 500)};
}
